<form *ngIf="form" [formGroup]="form"  class="d-flex flex-column w-100 p-4 content--standard">
    <div class="d-flex align-items-center w-100 mb-3">
        <h1 *ngIf="!id" class="heading--desktop04 text-white font-bold text-4xl">
            Crear Usuario
        </h1>
        <h1 *ngIf="id" class="heading--desktop04">
            Datos del usuario
        </h1>
        <div class="ms-auto" *ngIf="server.user?.tipo === 'admin'">
            <button class="btn btn--null" (click)="list()">
                <i class="fa fa-list me-2"></i>
                Lista
            </button>
        </div>
    </div>
    <div class="d-flex w-100">
        <div class="d-flex flex-column pe-2 py-3 col-md-4">
            <span class="p-float-label w-100">
                <input autocomplete="off" required formControlName="nombre" [(ngModel)]="body.nombre" [readonly]="!editable" id="nombre" class="input--standard w-100" type="text" pInputText> 
                <label for="nombre">Nombre<small class="required ms-1">*</small></label>
            </span>
            <span class="text-danger semibold mt-1 ms-1" *ngIf="hasError('nombre')">
                {{hasError('nombre')}}
            </span>
        </div>
        <div class="d-flex flex-column ps-2 py-3 col-md-4">
        <span class="p-float-label w-100">
            <input autocomplete="off" required formControlName="seg_nombre" [(ngModel)]="body.seg_nombre" [readonly]="!editable" id="seg_nombre" class="input--standard w-100" type="text" pInputText> 
            <label for="seg_nombre">Seg. Nombre<small class="required ms-1">*</small></label>
        </span>
        <span class="text-danger semibold mt-1 ms-1" *ngIf="hasError('seg_nombre')">
            {{hasError('seg_nombre')}}
        </span>
    </div>
        <div class="d-flex flex-column ps-2 py-3 col-md-4">
            <span class="p-float-label w-100">
                <input autocomplete="off" required formControlName="apellido" [(ngModel)]="body.apellido" [readonly]="!editable" id="apellido" class="input--standard w-100" type="text" pInputText> 
                <label for="apellido">Apellido<small class="required ms-1">*</small></label>
            </span>
            <span class="text-danger semibold mt-1 ms-1" *ngIf="hasError('apellido')">
                {{hasError('apellido')}}
            </span>
        </div>
    </div>
    <div class="d-flex w-100">
        <div class="d-flex flex-column pe-2 py-3 col-md-4">
            <span class="p-float-label w-100">
                <input autocomplete="off" required formControlName="seg_apellido" [(ngModel)]="body.seg_apellido" [readonly]="!editable" id="seg_apellido" class="input--standard w-100" type="text" pInputText> 
                <label for="seg_apellido">Seg.Apellido<small class="required ms-1">*</small></label>
            </span>
            <span class="text-danger semibold mt-1 ms-1" *ngIf="hasError('seg_apellido')">
                {{hasError('seg_apellido')}}
            </span>
        </div>
        <div class="d-flex flex-column ps-2 py-3 col-md-4">
            <span class="p-float-label w-100">
                <input autocomplete="off" required formControlName="username" [readonly]="!editable" [(ngModel)]="body.username" id="username" class="input--standard w-100" type="text" pInputText> 
                <label for="username">Nombre de Usuario<small class="required ms-1">*</small></label>
            </span>
            <span class="text-danger semibold mt-1 ms-1" *ngIf="hasError('username')">
                {{hasError('username')}}
            </span>
        </div>
        <div class="d-flex flex-column ps-2 py-3 col-md-4">
            <span class="p-float-label w-100">
                <input type="password" autocomplete="off" required formControlName="password" [readonly]="!editable" [(ngModel)]="body.password" id="password" class="input--standard w-100"  pInputText> 
                <label for="password">Contraseña<small class="required ms-1">*</small></label>
            </span>
            <span class="text-danger semibold mt-1 ms-1" *ngIf="hasError('password')">
                {{hasError('password')}}
            </span>
        </div>
    </div>
    <div class="d-flex w-100">
        <div class="d-flex flex-column pe-2 py-3 col-md-4">
            <span class="p-float-label w-100">
                <input type="email" autocomplete="off" required formControlName="email" [(ngModel)]="body.correo" [readonly]="!editable" id="email" class="input--standard w-100" type="text" pInputText> 
                <label for="email">Correo<small class="required ms-1">*</small></label>
            </span>
            <span class="text-danger semibold mt-1 ms-1" *ngIf="hasError('seg_apellido')">
                {{hasError('apellido')}}
            </span>
        </div>
        <div class="d-flex flex-column ps-2 py-3 col-md-4" *ngIf="server.user?.tipo === 'admin'">       
                <select name="cargo" formControlName="cargo" [(ngModel)]="body.id_cargo"  id="cargo" class="input--standard w-100">
                    <option *ngFor="let cargo of cargos" [ngValue]="cargo.id">{{cargo.nombre}}</option>
                </select>
            <span class="text-danger semibold mt-1 ms-1" *ngIf="hasError('cargo')">
                {{hasError('cargo')}}
            </span>
        </div>
        <div class="d-flex flex-column ps-2 py-3 col-md-4" *ngIf="server.user?.tipo === 'admin'">       
            <select name="cargo" formControlName="departamento" [(ngModel)]="body.id_depart"  id="departamento" class="input--standard w-100">
                <option *ngIf="!departamentos.length" [ngValue]=0>Seleccione un departamento</option>
                <option *ngFor="let departamento of departamentos" [ngValue]="departamento.id">{{departamento.nombre_departamento}}</option>
            </select>
        <span class="text-danger semibold mt-1 ms-1" *ngIf="hasError('username')">
            {{hasError('cargo')}}
        </span>
    </div>
    </div>
    <div class="d-flex w-100" *ngIf="server.user?.tipo === 'admin'">
        <div class="d-flex flex-column ps-2 py-3 col-md-4">       
                <select name="role" formControlName="role" [(ngModel)]="body.id_role"  id="role" class="input--standard w-100">
                    <option [ngValue]=1>Administrador</option>
                    <option [ngValue]=2>Usuario</option>
                </select>
            <span class="text-danger semibold mt-1 ms-1" *ngIf="hasError('username')">
                {{hasError('cargo')}}
            </span>
        </div>
        <div class="d-flex flex-column ps-2 py-3 col-md-4">       
            <select name="grado_academico" formControlName="grado_academico" [(ngModel)]="body.grado_academico"  id="grado_academico" class="input--standard w-100">
                <option ngValue="">ninguno</option>
                <option ngValue="Ingeniero">Ingeniero</option>
                <option ngValue="Licenciado">Licenciado</option>
                <option value="Doctor">Doctor</option>
                <option value="Doctora">Doctora</option>
                <option value="Magister">Magister</option>
            </select>
        <span class="text-danger semibold mt-1 ms-1" *ngIf="hasError('grado_academico')">
            {{hasError('cargo')}}
        </span>
    </div>
        <div class="d-flex flex-column ps-2 py-3 col-md-4">
            <input class="input--standard w-100" type="file" (change)="onFileChange($event)" accept="image/*" id="firma" name="firma">
            <img [src]="" alt="">
        </div>
    </div>
    <div class="d-flex w-100 mt-4">
        <div class="ms-auto"></div>
        <div class="ms-md-2">
            <button (click)="submit()" class="btn btn--standard">
                <i class="fa fa-save me-2"></i>
                Save
            </button>
        </div>
    </div>
</form>

