<div class="min-h-[100vh]" *ngIf="server.user?.tipo === 'admin'">
    <div class="flex items-center space-x-4 justify-center w-[75%] mx-auto p-2">
        <div class="bg-white shadow rounded-2xl p-4 relative overflow-hidden w-[250px] ">
            <p class="text-gray-500 text-sm">Total de usuarios</p>
            <p class="text-3xl font-bold">
                {{users.length}}
            </p>
            <p class="text-blue-800 text-sm mt-2">usuarios</p>
            <svg
    class="absolute bottom-0 left-0 w-full h-12 text-blue-800"
    viewBox="0 0 600 100"
    preserveAspectRatio="none"
    aria-hidden="true">
    <path
        d="M0,40 
         C150,80 450,0 600,40 
         L600,100 
         L0,100 Z"
      fill="#93c5fd" stroke="currentColor" stroke-width="3"/>
  </svg>
        </div>
        <div class="bg-white shadow rounded-2xl p-4 relative overflow-hidden w-[250px]">
            <p class="text-gray-500 text-sm">Total de cargos</p>
            <p class="text-3xl font-bold">
                {{cargos.length}}
            </p>
            <p class="text-purple-700 text-sm mt-2">cargos</p>
             <svg
    class="absolute bottom-0 left-0 w-full h-12 text-purple-700"
    viewBox="0 0 600 100"
    preserveAspectRatio="none"
    aria-hidden="true">
    <path
        d="M0,40 
         C150,80 450,0 600,40 
         L600,100 
         L0,100 Z"
      fill="#d8b4fe" stroke="currentColor" stroke-width="3"/>
  </svg>
        </div>
        <div class="bg-white shadow rounded-2xl p-4 relative overflow-hidden w-[250px]">
            <p class="text-gray-500 text-sm">Total de departamentos</p>
            <p class="text-3xl font-bold">
                {{departamentos.length}}
            </p>
            <p class="text-teal-700 text-sm mt-2">departamentos</p>
            <svg
     class="absolute bottom-0 left-0 w-full h-12 text-teal-700"
     viewBox="0 0 600 100"
    preserveAspectRatio="none"
    aria-hidden="true">
    <path
        d="M0,40 
         C150,80 450,0 600,40 
         L600,100 
         L0,100 Z"
      fill="#99f6e4" stroke="currentColor" stroke-width="3"/>
  </svg>
        </div>
    </div>
    <div class="flex items-center space-x-4 justify-around w-[75%] mx-auto p-2 ">
        <div class="bg-white shadow rounded-2xl p-4 relative overflow-hidden w-[250px]">
            <p class="text-gray-500 text-sm">Total de memos</p>
            <p class="text-3xl font-bold">
                {{memos.length}}
            </p>
            <p class="text-rose-800 text-sm mt-2">memos</p>
             <svg
     class="absolute bottom-0 left-0 w-full h-12 text-rose-800"
     viewBox="0 0 600 100"
    preserveAspectRatio="none"
    aria-hidden="true">
    <path
        d="M0,40 
         C150,80 450,0 600,40 
         L600,100 
         L0,100 Z"
      fill="#fda4af" stroke="currentColor" stroke-width="3"/>
  </svg>
    </div>
    <div class="bg-white p-2 rounded-md">
        <canvas id="myChart">
            {{chart}}
         </canvas>
    </div>
    </div>
</div>
<div class="min-h-[100vh]" *ngIf="server.user?.tipo !== 'admin'">
    <div *ngIf="getMemosStatusUserRec('SIN ATENDER') != 0" class="bg-red-400 text-white font-bold text-xl p-2">Tienes {{getMemosStatusUserRec("SIN ATENDER")}} nuevos memos sin atender</div>
    <div>
        <div class="text-4xl text-white font-bold">
            Memos Enviados por el departamento
        </div>

        <div class="flex items-center space-x-4 justify-center w-[100%] mx-auto p-2">
            <div class="bg-white shadow rounded-2xl p-4 relative overflow-hidden w-[250px] ">
                 <p class="text-gray-500 text-sm">Total</p>
                <p class="text-3xl font-bold">
                    {{getMemosUser()}}
                </p>
                 <p class="text-blue-800 text-sm mt-2">Memos</p>
                 <svg
    class="absolute bottom-0 left-0 w-full h-12 text-blue-800"
    viewBox="0 0 600 100"
    preserveAspectRatio="none"
    aria-hidden="true">
    <path
        d="M0,40 
         C150,80 450,0 600,40 
         L600,100 
         L0,100 Z"
      fill="#93c5fd" stroke="currentColor" stroke-width="3"/>
  </svg>
            </div>
            <div class="bg-white shadow rounded-2xl p-4 relative overflow-hidden w-[250px] border-gray-400 border-2">
                 <p class="text-gray-500 text-sm">Memos atendidos</p>
                <p class="text-3xl font-bold">
                   {{getMemosStatusUser("ATENDIDO")}}
                </p>
                 <p class="text-green-700 text-sm mt-2">Memos</p>
                 <svg
    class="absolute bottom-0 left-0 w-full h-12 text-green-700"
    viewBox="0 0 600 100"
    preserveAspectRatio="none"
    aria-hidden="true">
    <path
        d="M0,40 
         C150,80 450,0 600,40 
         L600,100 
         L0,100 Z"
      fill="#86efac" stroke="currentColor" stroke-width="3"/>
  </svg>
            </div>
            <div class="bg-white shadow rounded-2xl p-4 relative overflow-hidden w-[250px] border-gray-400 border-2">
                 <p class="text-gray-500 text-sm">Memos en proceso</p>
                <p class="text-3xl font-bold">
                    {{getMemosStatusUser("EN PROCESO")}}
                </p>
                <p class="text-yellow-600 text-sm mt-2">Memos</p>
                <svg
    class="absolute bottom-0 left-0 w-full h-12 text-yellow-600"
    viewBox="0 0 600 100"
    preserveAspectRatio="none"
    aria-hidden="true">
    <path
        d="M0,40 
         C150,80 450,0 600,40 
         L600,100 
         L0,100 Z"
      fill="#fef08a" stroke="currentColor" stroke-width="3"/>
  </svg>
         </div>


            <div class="bg-white shadow rounded-2xl p-4 relative overflow-hidden w-[250px] border-gray-400 border-2">
                 <p class="text-gray-500 text-sm">Memos sin atender</p>
                <p class="text-3xl font-bold">
                   {{getMemosStatusUser("SIN ATENDER")}}
                </p>
                <p class="text-red-600 text-sm mt-2">Memos</p>
                <svg
                 class="absolute bottom-0 left-0 w-full h-12 text-red-600"
                viewBox="0 0 600 100"
                preserveAspectRatio="none"
                aria-hidden="true">
                <path
                    d="M0,40 
                    C150,80 450,0 600,40 
                    L600,100 
                    L0,100 Z"
                fill="#fecaca" stroke="currentColor" stroke-width="3"/>
            </svg>
        </div>
        </div>
        <div class="flex items-center space-x-4 justify-around w-[75%] mx-auto p-2 ">
        <div class="bg-white p-2 rounded-md">
            <canvas id="myChartUSer">
                {{chart}}
             </canvas>
        </div>
        </div>
    </div>
    <div>
        <div class="text-4xl text-white font-bold">
            Memos Recibidos por el departamento
        </div>
        <div class="flex items-center space-x-4 justify-center w-[100%] mx-auto p-2">
            <div class="bg-white shadow rounded-2xl p-4 relative overflow-hidden w-[250px] ">
                 <p class="text-gray-500 text-sm">Total</p>
                <p class="text-3xl font-bold">
                    {{getMemosUserRec()}}
                </p>
                 <p class="text-blue-800 text-sm mt-2">Memos</p>
                 <svg
    class="absolute bottom-0 left-0 w-full h-12 text-blue-800"
    viewBox="0 0 600 100"
    preserveAspectRatio="none"
    aria-hidden="true">
    <path
        d="M0,40 
         C150,80 450,0 600,40 
         L600,100 
         L0,100 Z"
      fill="#93c5fd" stroke="currentColor" stroke-width="3"/>
  </svg>
            </div>
            <div class="bg-white shadow rounded-2xl p-4 relative overflow-hidden w-[250px] border-gray-400 border-2">
                 <p class="text-gray-500 text-sm">Memos atendidos</p>
                <p class="text-3xl font-bold">
                        {{getMemosStatusUserRec("ATENDIDO")}}
                </p>
                 <p class="text-green-700 text-sm mt-2">Memos</p>
                 <svg
    class="absolute bottom-0 left-0 w-full h-12 text-green-700"
    viewBox="0 0 600 100"
    preserveAspectRatio="none"
    aria-hidden="true">
    <path
        d="M0,40 
         C150,80 450,0 600,40 
         L600,100 
         L0,100 Z"
      fill="#86efac" stroke="currentColor" stroke-width="3"/>
  </svg>
            </div>
            <div class="bg-white shadow rounded-2xl p-4 relative overflow-hidden w-[250px] border-gray-400 border-2">
                 <p class="text-gray-500 text-sm">Memos en proceso</p>
                <p class="text-3xl font-bold">
                    {{getMemosStatusUserRec("EN PROCESO")}}
                </p>
                <p class="text-yellow-600 text-sm mt-2">Memos</p>
                <svg
    class="absolute bottom-0 left-0 w-full h-12 text-yellow-600"
    viewBox="0 0 600 100"
    preserveAspectRatio="none"
    aria-hidden="true">
    <path
        d="M0,40 
         C150,80 450,0 600,40 
         L600,100 
         L0,100 Z"
      fill="#fef08a" stroke="currentColor" stroke-width="3"/>
  </svg>
         </div>


            <div class="bg-white shadow rounded-2xl p-4 relative overflow-hidden w-[250px] border-gray-400 border-2">
                 <p class="text-gray-500 text-sm">Memos sin atender</p>
                <p class="text-3xl font-bold">
                   {{getMemosStatusUserRec("SIN ATENDER")}}
                </p>
                <p class="text-red-600 text-sm mt-2">Memos</p>
                <svg
                 class="absolute bottom-0 left-0 w-full h-12 text-red-600"
                viewBox="0 0 600 100"
                preserveAspectRatio="none"
                aria-hidden="true">
                <path
                    d="M0,40 
                    C150,80 450,0 600,40 
                    L600,100 
                    L0,100 Z"
                fill="#fecaca" stroke="currentColor" stroke-width="3"/>
            </svg>
        </div>
        
        </div>
        <div class="flex items-center space-x-4 justify-around w-[75%] mx-auto p-2 ">
        <div class="bg-white p-2 rounded-md">
            <canvas id="myChartUSerRec">
                {{chart}}
             </canvas>
        </div>
        </div>
    </div>
</div>
