<div class="d-flex flex-column w-100 p-4 content--standard entitylist--standard">
    <div class="d-flex w-100 mb-4">
        <h1 class="text-4xl font-bold text-white ">{{server.user.tipo == 'admin' ? 'Memos' : 'Memos recibidos'}}</h1>
        <div class="ms-md-auto flex space-x-3">
            <select class="p-multiselect" name="departamentos" id="" [value]="fecha"  [(ngModel)]="fecha" (change)="onChangeFecha()">
                <option value="0">Todos los años</option>
                <option *ngFor="let fecha of fechas" [value]="fecha">{{fecha}}</option>
            </select>
            <select *ngIf="server.user.tipo == 'admin'" class="p-multiselect" name="departamentos" id="" [value]="seletedDepartamento" (change)="onChangeDepartamento()" [(ngModel)]="seletedDepartamento">
                <option [value]="0">Todos los dto</option>
                <option *ngFor="let departamento of departamentos" [value]="departamento.id">
                    {{departamento.nombre_departamento}}
                </option>
            </select>
        </div>
        <button (click)="generateReport()" class="btn text--desktop02 px-4 ms-3 rounded-md bg-green-400 hover:bg-green-600">Generar reporte</button>
        <button (click)="create()" class="btn btn--standard text--desktop02 px-4 ms-3 rounded-md">
            <i class="fa fa-plus me-2"></i>
            Enviar un Memo
        </button>
    </div>
    <p-table #dt1 tableStyleClass="bg-white" [paginator]="true" [rows]="5" [value]="memosFilter" responsiveLayout="scroll" currentPageReportTemplate="{{pagination.count}} memos" [globalFilterFields]="['fecha','codigo_memo','asunto', 'codigo_departamento', 'status']">
         <ng-template pTemplate="caption" class="w-full flex justify-between">
        <div class="flex align-items-center w-full" >
            <p-button class="p-button-clear" label="Clear" [outlined]="true" icon="pi pi-filter-slash" (click)="clear(dt1)" ></p-button>
                <div class="text-center text-xl font-bold text-black m-auto">
                    <h1 class="text-center">{{server.user.tipo == 'admin' ? 'Memos' : 'Memos recibidos'}}</h1> 
                </div>
            <p-iconfield iconPosition="left" class="ml-auto border-solid border-1 p-1 border-black rounded-xl">
                <p-inputicon>
                    <i class="pi pi-search"></i>
                </p-inputicon>
                <input class="bg-transparent border-none focus:shadow-none" pInputText #bod type="text" (input)="dt1.filterGlobal(bod.value, 'contains')" placeholder="Search keyword" />
            </p-iconfield>
        </div>
    </ng-template>
        <ng-template pTemplate="header" >
            <tr class="h-[85px] text-center">
                <th class="text--desktop02 text-center">
                    <span class="p-float-label w-100 text-center">
                     Fecha
                    </span>    
                </th>
                <th class="text--desktop02 text-center">
                    <span class="p-float-label w-100 text-center">
                        Codigo
                    </span> 
                </th>
                <th>
                    <span class="p-float-label w-100 text-center">
                        De
                    </span>
                </th>
                <th>
                    <span class="p-float-label w-100 text-center">
                        Para
                    </span>
                </th>
                <th>
                    <span class="p-float-label w-100 text-center">
                        Asunto
                    </span>
                </th>
                <th>
                    <span class="p-float-label w-100 text-center">
                        Contenido
                    </span>
                </th>
                <th>
                    <span class="p-float-label w-100 text-center">
                        Estado
                    </span>
                </th>

            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item>
            <tr class="cursor-pointer" (dblclick)="read(item.id)">
                <td  class="text-center">
                    
                        {{item.fecha | date: 'dd/MM/yyyy'}}
                    
                </td>
                <td class="text-center">
                    
                        {{item.codigo_memo}}
                    
                </td>
                <td class="text-center">
                    
                        {{getNameDepartamento(item.fromDepartamento)}}
                  
                </td>
                <td class="text-center">
                    
                       {{getNameDepartamento(item.toDepartamento)}}
                    
                </td>
                <td class="text-center">
                    
                        {{item.asunto}}
                    
                </td>
                <td class="text-center !text-ellipsis !overflow-hidden max-h-[100px]">
                        <p class="!text-ellipsis overflow-hidden  max-h-[100px]"> 
                            {{item.contenido}}
                        </p>
                </td>

                <td class="text-center">
                 <p-tag [value]="item.status" [rounded]="true" [severity]="item.status === 'ATENDIDO' ? 'success' : item.status === 'EN PROCESO' ? 'warning' : 'danger'"></p-tag>
                </td>

            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage" let-columns>
            <tr class="table__empty">
                <td [attr.colspan]="5">
                    <span>
                        No se encontraron Memos
                    </span>
                </td>
            </tr>
        </ng-template>
    </p-table>
    <div class="d-flex w-100 mt-3" *ngIf="memosFilter.length > 0">
        <span class="text--desktop01 semibold ms-auto">
            {{memosFilter.length}} resultados
        </span>
    </div>
</div>
