<div>
    <img class="bg" src="assets/img/wall.png" alt="">
    <section>
        <div class="box">
            <div class="form-box">
                <div class="form-value">
                    <div>
                        <img  src="../../../assets/img/LOGOS CORPOLARA 1.png" alt="logo" class="logo mx-auto">
                        <h2>BIENVENIDO</h2>
                        <div class="inputbox">
                            <input (keyup.enter)="login()" autocomplete="off" [(ngModel)]="username" type="text" required>
                            <label class="d-inline">
                                <i class="fa fa-user d-inline" aria-hidden="true"></i>
                                Nombre de Usuario
                            </label>
                        </div>
                        <div class="inputbox">
                            <input (keyup.enter)="login()"  autocomplete="off" [(ngModel)]="password" type="password" required>
                            <label class="d-inline">
                                <i class="fa fa-key d-inline" aria-hidden="true"></i>
                                Contraseña
                            </label>
                        </div>
                        <div class="mt-5"></div>
                        <button (click)="login()" >Iniciar sesión</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>