<div class="d-flex flex-column w-100 p-4 content--standard entitylist--standard">
    <div class="d-flex w-100 mb-4">
        <h1 class="text-4xl font-bold text-white ">Usuarios</h1>
        <div class="ms-md-auto"></div>
        <button   class="btn btn--danger text--desktop02 px-4">
            <i class="fa fa-times me-2"></i>
            Eliminar seleccion
        </button>
        <button (click)="create()" class="btn btn--standard text--desktop02 px-4 ms-3 rounded-md">
            <i class="fa fa-plus me-2"></i>
            Crear Usuario
        </button>
    </div>
    <p-table tableStyleClass="bg-white" [value]="users" [paginator]="true" [rows]="10" responsiveLayout="scroll" currentPageReportTemplate="{{pagination.count}} users">
        <ng-template pTemplate="header" >
            <tr class="h-[85px] text-center">
                <th  style="width: 20px; ">
                </th>
                <th  class="text--desktop02 text-center">
                    <span class="p-float-label w-100">
                        <label for="name">Nombre</label>
                    </span>   
                </th>
                <th class="text--desktop02 text-center">
                    <span class="p-float-label w-100">
                        <label for="dni">Seg. Nombre</label>
                    </span> 
                </th>
                <th class="text--desktop02 text-center">
                    <span class="p-float-label w-100">
                        <label for="dni">Apellido</label>
                    </span> 
                </th>
                <th class="text--desktop02 text-center">
                    <span class="p-float-label w-100">
                        <label for="dni">Seg. Apellido</label>
                    </span> 
                </th>
                <th class="text--desktop02 text-center">
                    <span class="p-float-label w-100">
                        <label for="dni">Nombre de Usuario</label>
                    </span> 
                </th>
                <th class="text--desktop02 text-center">
                    <span class="p-float-label text-center">
                        Cargo
                    </span> 
                </th>
                <th class="text--desktop02 text-center">
                    <span class="p-float-label">
                        <label for="dni">Grado Academico</label>
                    </span>
                </th>
                <th class="text--desktop02 text-center">
                    <span class="p-float-label text-center">
                        Departamentos
                    </span> 
                </th>
                <th class="text--desktop02 text-center">
                    <span class="p-float-label w-100">
                        <label for="dni">Role</label>
                    </span> 
                </th>
                <th class="text-center">
                    <span class="p-float-label w-100">
                        <label for="dni">status</label>
                    </span>
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item>
            <tr class="cursor-pointer" (dblclick)="read(item.id)">
                <td>
                    <p-checkbox [binary]="true" value="1" [(ngModel)]="item.$_select"></p-checkbox>
                </td>
                <td class="text-center">
                    <a>
                        {{item.nombre}}
                    </a>
                </td>
                <td class="text-center">
                    <a>
                        {{item.seg_nombre}}
                    </a>
                </td>
                <td class="text-center">
                    <a>
                        {{item.apellido}}
                    </a>
                </td>
                <td class="text-center">
                    <a>
                        {{item.seg_apellido}}
                    </a>
                </td>
                <td class="text-center" >
                    <a>
                        {{item.username}}
                    </a>
                </td>
                <td  class="text-center">
                    <a>
                        {{getCargo(item.id_cargo)}}
                    </a>
                </td>
                <td>
                    <a>
                        {{item.grado_academico}}
                    </a>
                </td>
                <td  class="text-center">
                    <a>
                        {{getDto(item.id_depart)}}
                    </a>
                </td>
                <td  class="text-center">
                    <a>
                        {{item.id_role === 1 ? 'Administrador' : 'Usuario'}}
                    </a>
                </td>
                <td class="text-center">
                 <p-tag [value]="item.status" [rounded]="true" [severity]="item.status === 'activo' ? 'success' : 'danger'"></p-tag>
                </td>

            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage" let-columns>
            <tr class="table__empty">
                <td [attr.colspan]="5">
                    <span>
                        No se encontraron Usuarios
                    </span>
                </td>
            </tr>
        </ng-template>
    </p-table>
    <div class="d-flex w-100 mt-3" *ngIf="users.length > 0">
        <span class="text--desktop01 semibold ms-auto">
            {{users.length}} resultados
        </span>
    </div>
    
</div>