<div class="w-100 flex justify-center mt-4 h-[100vh]">
<h2 class="text-4xl font-bold text-center text-white">
    Memo
</h2>
 <div class="d-flex flex-col w-[50%] bg-white mt-20 h-[90vh] relative p-2">
    <div class="ml-3" >
        <img class="w-44" src="../../../../assets/img/LOGOS CORPOLARA 2.png" alt="">
    </div>
    <div class="w-full flex justify-center font-bold">
        MEMORANDO
    </div>
    <div class="ml-6 font-bold">
        <p>Codigo {{body.codigo_memo}}</p>
        <br>
        <p>Para: {{getdepartamento(body.toDepartamento)}}</p>
        <p>Copia para: {{getdepartamento(body.copia_para)}}</p>
        <p>De: {{getdepartamento(body.fromDepartamento)}}</p>
        <p>Fecha: {{body.fecha | date:'dd/MM/yyyy'}}</p>
        <p>Asunto: {{body.asunto}}</p>
    </div>
    <div class="ml-10 mt-6 text-justify mx-auto w-[90%]">
        <p>{{body.contenido}}</p>
    </div>
    <div class="flex justify-center w-full font-bold flex-col items-center absolute bottom-52">
        <p>
            Atentamente
        </p>
        <img [src]="getFirma(body.id_user)" alt="" class="w-36 h-20">
        <p class="uppercase">
            {{getUser(body.id_user)}}
        </p>
        <p class="uppercase">
            {{getCargoUser(body.id_user)}}
        </p>
    </div>
    <div class="absolute bottom-0 flex w-full justify-center">
        <img class="w-[90%] h-40" src="../../../../assets/img/footerMemo.png" alt="">
    </div>
 </div>
 <div *ngIf="body.id_user != server.user.id || server.user.tipo == 'admin'">
    <select class="p-multiselect w-[70%]" name="status" id="status" [(ngModel)]="body.status" (change)="changeStatus()">
        <option value="ATENDIDO">ATENDIDO</option>
        <option value="EN PROCESO">EN PROCESO</option>
        <option *ngIf="server.user.tipo == 'admin'" value="SIN ATENDER">SIN ATENDER</option>
    </select>
 </div>
 <div>
    <button class="btn btn--standard text--desktop02 px-4 ms-3 rounded-md" (click)="generatePDF()">Generar PDF</button>
 </div>
</div>
