<form *ngIf="form" [formGroup]="form"  class="d-flex flex-column w-100 p-4 content--standard">
    <div class="d-flex align-items-center w-100 mb-3">
        <h1 *ngIf="!id" class="heading--desktop04 text-white font-bold text-4xl">
            Crear Cargo
        </h1>
        <h1 *ngIf="id" class="heading--desktop04">
            Datos del Cargo
        </h1>
        <div class="ms-auto" *ngIf="server.user?.tipo === 'admin'">
            <button class="btn btn--null" (click)="list()">
                <i class="fa fa-list me-2"></i>
                Lista
            </button>
        </div>
    </div>
    <div class="d-flex w-100">
        <div class="d-flex flex-column pe-2 py-3 col-md-4">
            <span class="p-float-label w-100">
                <input autocomplete="off" required formControlName="nombre" [(ngModel)]="body.nombre" [readonly]="!editable" id="nombre" class="input--standard w-100" type="text" pInputText> 
                <label for="nombre">Nombre del cargo<small class="required ms-1">*</small></label>
            </span>
            <span class="text-danger semibold mt-1 ms-1" *ngIf="hasError('nombre')">
                {{hasError('nombre')}}
            </span>
        </div>
        <div class="d-flex flex-column ps-2 py-3 col-md-4">
            <select  class="input--standard w-100" name="cago" id="cargo" [value]="body.status" [(ngModel)]="body.status" formControlName="status">
                <option ngValue="activo">Activo</option>
                <option ngValue="inactivo">Inactivo</option>
            </select>

            <span class="text-danger semibold mt-1 ms-1" *ngIf="hasError('status')">
                {{hasError('status')}}
            </span>
        </div>
    </div>
    <div class="d-flex w-100 mt-4">
        <div class="ms-auto"></div>
        <div class="ms-md-2">
            <button (click)="submit()" class="btn btn--standard">
                <i class="fa fa-save me-2"></i>
                Save
            </button>
        </div>
    </div>
</form>
